.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.button-wrapper {
  width: 100px;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #000;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #000;
}

.play {
  width: 0;
	height: 0;
  margin-left: 15px;
	border-left: 50px solid #000;
	border-bottom: 25px solid transparent;
	border-top: 25px solid transparent;
}

.radio-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}